<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-left">
    <a class="navbar-brand" href="http://localhost:4200/"><h1>L A R O</h1></a>

  
    <div class="navbar-default" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/randomizer" routerLinkActive="active-link">Randomizer 
            
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active-link">About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contact </a>
        </li>
      </ul>
    </div>
  </nav>